.hide {
    display: none;
}

body {
    font-family: Courier New;
    margin: 0;
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}



.page {

    width: 100%;
}

.app {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.app__header {
    margin: 0 auto;

    font-size: 50px;
}

.app__frase {
    margin: 0 auto;

    font-size: 40px;
}

.button {
    font-family: Courier New;
    font-weight: bold;

    margin: auto;
    width: 40%;
    margin-top: 20px;
    height: 80px;
    border: 5px solid rgb(51, 161, 110);
    background: #81ebb9;
    border-radius: 20px;
    font-size: 30px;
    transition: 1s;
    outline: none;

}

.button:hover {
    transform: scale(1.03);
    cursor: pointer
}

.input {

    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.disabled {
    border: 5px solid #32403a;
    background: #879990;
    color: #343635;
}

.name__input_field {
    font-family: Courier New;
    font-weight: bold;
    margin: auto;
    height: 80px;
    width: 80%;
    border: 8px solid white;
    border-radius: 20px;
    background-color: transparent;
    font-size: 35px;
    color: var(--colorShadeA);
    outline: none;
    padding-left: 50px;
}

.name__input_field::placeholder {
    font-family: Courier New;

    color: white
}

.name__input_field:focus::placeholder {
    opacity: 0.5;
    color: white
}
.error{
    margin: auto;
    margin-top: 10px;
    font-family: Courier New;
    font-weight: bold;
    font-size: 25px;
    
}